html,body{margin:0; padding:0;}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
p{margin:0;} 
$deviceWidth:375;
$eng:'Cormorant', serif !important;
$green:#0B3E1C;
@function calcVw($size) {
    @return ($size/$deviceWidth)*100;
}
@function calclH($lh,$font){
    @return ($lh/$font);
}  

header{position:relative; overflow:hidden; width:100%; background:linear-gradient(180deg, #1E5330 0%, #10321B 100%)}
.img-w100{width:100%; vertical-align: middle;}
.font-cor{font-family: 'Cormorant', serif !important;}
.date{position:relative; text-align: center;
    &__top{padding:calcVw(49vw) calcVw(138vw) 0;}
    &__year{padding-top:calcVw(6vw); padding-bottom:calcVw(8vw); font-size: calcVw(14vw); border-top:2px solid #fff; border-bottom:1px solid #fff; box-sizing:border-box; color:#fff;}
    &__wrap{padding:0 calcVw(108vw); box-sizing:border-box;}
    &__box{position:relative;  height:calcVw(107vw); margin-top:calcVw(40vw);
        &:before{position:absolute; display:block; top:7vw; left:-2vw; right:1vw; bottom:0; margin:auto;  width:calcVw(168vw); height:0; border-top:1px solid #fff; transform: rotate(135deg); opacity: 0.3; content:'';}
    }
    &__month{position:absolute; top:0; left:0; font-size:calcVw(120vw); color:#fff; line-height:calclH(22,120); letter-spacing: -0.04em; font-family: $eng;}
    &__day{position:absolute; bottom:0; right:0; font-size:calcVw(120vw); color:#fff; line-height:calclH(22,120); letter-spacing: -0.04em; font-family: $eng;}
    &__time{margin-top:calcVw(73vw); color:#fff; letter-spacing: 0.3em;}
    &__img{margin-top:calcVw(15vw); width:100%;}
    &__txt{position:absolute; left:0; right:0;  bottom:calcVw(28vw); font-size:calcVw(16vw); line-height:calclH(22,16); letter-spacing: -0.04em; color:#000; opacity: 0.3; font-weight:600;}
}

.front{position:relative;
    &__wrap{position: absolute; bottom:0; left:0; right:0; text-align: center;} 
    &__tit{display:inline-block; margin:0; font-size:calcVw(90vw); letter-spacing: -0.04em; color:$green; font-weight:600; font-family: $eng; line-height: calclH(92,90 ); text-align: left;}
}


.info{margin-top:calcVw(12vw); padding:0 calcVw(45vw) calcVw(40vw);
    &__tit{position:relative; margin:0; height:calcVw(37vw); font-size:calcVw(20vw); line-height:calclH(24,20 ); color:$green; letter-spacing: -0.04em; border-bottom:1px solid #1E5330;}
    &__box{margin-top:calcVw(20vw); padding:calcVw(8vw); box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05); border-radius: 16px; box-sizing: border-box;
        &.type-btn{padding:calcVw(15vw) calcVw(24vw);}
    }
    &__link{text-decoration: none; color:inherit;}
    &__blank{position:relative; margin:0; padding-left:calcVw(68vw); font-size:calcVw(16vw); line-height: calclH(25,16);
        &.type-naver{
            &:before{background:url('../images/naver.png') no-repeat center center / contain;}
        }
        &:before{display:block; position: absolute; top:0; left:0; bottom:0; width:calcVw(48vw); height:calcVw(48vw); margin:auto 0; background:url('../images/kakao.png') no-repeat center center / contain; content:'';}
        &:after{display:block; position: absolute; top:0; right:0; bottom:0; width:calcVw(14vw); height:calcVw(9vw); margin:auto 0; background:url('../images/arrow.png') no-repeat center center / contain; content:'';}
    }
    &__inner{padding:0 calcVw(16vw); box-sizing: border-box;}
}
.tab{text-align: center;
    $this:&;
    &__list{margin:0; padding:calcVw(2vw) 0; list-style:none; font-size:0; border-radius: 8px; background-color: #F7FAFC;}
    &__item{position:relative; display: inline-block; width:33.33%;
        &.is-active{
            #{$this}__link{background-color:#1E5330; border-radius: 8px; color:#fff;}
            &:before{display:none !important;}
        }
        & + &:before{position: absolute; top:calcVw(12vw); bottom:calcVw(12vw); left:0; width:0; margin:auto 0; border-left:1px solid #E2E8F0; content:'';}
    }
    &__link{display:block; padding:calcVw(16vw) 0 calcVw(13vw); font-size:calcVw(12vw); line-height:calclH(15,12); text-decoration: none; color:inherit;}
    &__content{display:none; margin-top:calcVw(41vw);
        &.is-active{display:block;}
    }
}

.map{
    &__tit{margin:calcVw(23vw) 0 0; font-size:calcVw(16vw); line-height:calclH(25,16);}
    &__txt{margin-top:calcVw(12vw); font-size:calcVw(14vw); line-height:calclH(23,14); word-break: keep-all;}
    &__tel{position:relative; padding-left:calcVw(30vw); margin-top:calcVw(24vw); font-size:calcVw(14vw); line-height:calclH(24,14);
        &:before{display:block; position: absolute; top:0; left:0; bottom:0; width:calcVw(20vw); height:calcVw(20vw); margin:auto 0; background:url('../images/phone_icon.png') no-repeat center center / contain; content:'';}
    }
    &__btn{display:inline-block; margin:calcVw(26vw) 0 calcVw(13vw); padding:calcVw(12vw) calcVw(20vw); font-size:calcVw(12vw); line-height:calclH(12,14); background-color:#1E5330; color:#fff; text-decoration: none; border-radius: 6px;}
    &__box{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:41.63%; border-radius: 16px;}
    &__api{position: absolute; top:0; left:0; right:0; bottom:0;}
}

.schedule{margin-top:calcVw(60vw);
    &__tit{margin:calcVw(20vw) 0 calcVw(30vw); font-size:calcVw(18vw); line-height:calclH(26,18 ); text-align: center;}
    &__list{margin:0; padding:0; list-style:none; font-size:0; text-align: left;}
    &__item{position:relative; display:inline-flex; width:calc(100% / 7); height:calcVw(40vw); align-items: center; justify-content: center; font-size:calcVw(12vw); line-height:calclH(17,12 );
        &.is-active{color:#fff !important;
            &:before{display:block; position:absolute; top:0; left:0; right:0; bottom:0; background-color:#EC7474; border-radius: 50%; content:''; z-index: -1;   animation: scale 1.2s infinite alternate}
        }
        &:nth-child(7) ~ &{margin-top:calcVw(20vw)}
        &:nth-child(7n - 1){color:#4C6FFF;}
        &:nth-child(7n){color:#EB2D2D;}
        &.type-grey{background-color:#FCFCFC;}
    }
    &__box{margin-top:calcVw(20vw); padding:calcVw(28.5vw) 0; background-color:#0B3E1C; box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05); border-radius: calcVw(16vw); text-align: center;}
    &__txt{position:relative; display:inline-block; padding-left:calcVw(35vw);  font-size:calcVw(16vw); line-height:calclH(25,16 ); color:#fff; font-weight:600; box-sizing: border-box;
        &:before{display:block; position: absolute; top:0; left:0; bottom:0; width:calcVw(24vw); height:calcVw(24vw); margin:auto 0; background:url('../images/Subtract.png') no-repeat center center / contain; content:'';}
    }
}

.profile{ margin:calcVw(-34vw) auto 0; text-align: center; 
    &__box{display:inline-block;}
    &__img{width:calcVw(82vw); height:calcVw(82vw); margin:0 auto;}
    &__txt{margin:0; font-size:calcVw(14vw); line-height:calclH(25,14 );}
    &__tit{margin:calcVw(4vw) 0 0 0; font-size:calcVw(18vw); line-height: calclH(23,18 ); font-weight:600;}
}
.address{margin-top:calcVw(26vw); padding-top:calcVw(26vw); border-top:1px solid #F3F5F8;
    $this:&;
    &__dt{position:relative; margin:0; padding:0 0 0 calcVw(28vw); font-size:calcVw(16vw); line-height: calclH(28,16 ); font-weight: 600; color:#27272E;
        &:before{display:block; position: absolute; top:calcVw(4vw); left:0;  content:'';}
        &.type-phone{
            &:before{width:calcVw(18vw); height:calcVw(18vw); background: url('../images/phone_small.png') no-repeat center center / contain;}
        }
        &.type-letter{
            &:before{width:calcVw(16vw); height:calcVw(16vw); background: url('../images/letter.png') no-repeat center center / contain;}
        }
    }
    &__dd{margin:0; padding:0 0 0 calcVw(28vw);  font-size:calcVw(14vw); line-height: calclH(26,14 ); color:#718096;
        & + #{$this}__dt{margin-top:calcVw(20vw);}
    }
}

@keyframes scale {
    0%   { transform: scale(0.9); opacity: 0.9; }
    100%  { transform: scale(1.1); opacity:1;}
  }
  



$shooting-time: 3000ms;

.night {
  position: absolute;
  top:calcVw(-50vw);
 left:0;
 right:0;
  height: 100vh;
  transform: rotateZ(45deg);
  // animation: sky 200000ms linear infinite;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  // width: 100px;
  height: 2px;
  background: linear-gradient(-45deg, rgba(214, 184, 44, 0.5), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(218, 199, 113, 1));
  animation:
    tail $shooting-time ease-in-out infinite,
    shooting $shooting-time ease-in-out infinite;
  
  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(214, 184, 44, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    // CodePen Error
    // @extend .shooting_star::before;
    
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(214, 184, 44, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
  
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      $delay: random(9999) + 0ms;
      top: calc(50% - #{random(400) - 200px});
      left: calc(50% - #{random(300) + 0px});
      animation-delay: $delay;
      // opacity: random(50) / 100 + 0.5;
      
      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  
  30% {
    width: 100px;
  }
  
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  
  50% {
    width: 30px;
  }
  
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(300px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  
  100% {
    transform: rotate(45 + 360deg);
  }
}

